<%- include('../partials/head') %>
    <%- include('../partials/header') %>
        <div class="container d-flex justify-content-center">
            <img src='/api/file/<%= fileName %>' alt='<%= fileName %>' width=100 height=150 class="w-50 h-50"></img>
        </div>
        <%- include('../partials/footer') %>